.custom-width {
    min-width: 300px;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.custom-height {
    min-height: 79%;
}

body {
    font-family: "Roboto", sans-serif;
}
